@page "/admin"
@inject IScoreService ScoreService
@inject IUserService UserService
@inject NavigationManager navigationManager

<AuthorizeView Roles="Admin">
    <Authorized>
        @if (UserService.Users == null)
        {
            <h1>User not found</h1>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Role</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in UserService.Users)
                    {

                        <tr>
                            <td>@user.Name</td>
                            @foreach (var role in user.Role)
                            {
                                <td>@role</td>
                            }
                            <td>
                                <button class="btn" @onclick="(() => ShowScore(user.Name))"><Icon Name="@("fa-eye")" /></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </Authorized>
    <NotAuthorized>
        <h1>You are not authorised to see this.</h1>
    </NotAuthorized>

</AuthorizeView>

@code {
    protected override async Task OnInitializedAsync()
    {
        await UserService.GetUsers();
    }

    void ShowScore(string name)
    {
        var plainTextBytes = System.Text.Encoding.UTF8.GetBytes(name);
        var encoded = System.Convert.ToBase64String(plainTextBytes);
        Console.WriteLine("encoded: " + encoded);
        navigationManager.NavigateTo($"score/{encoded}");
    }
}
