@page "/scores"
@inject HttpClient Http
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IScoreService ScoreService

<AuthorizeView Roles="User">
    <Authorized>
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Accuracy</th>
                    <th>WPM</th>
                    <th>Error</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var score in ScoreService.Scores)
                {
                    <tr>
                        @{
                                DateTime dt = new DateTime(score.Date);
                            <td>@dt.ToString()</td>
                            }
                        <td>@score.Accuracy</td>
                        <td>@score.WPM</td>
                        <td>@score.Error</td>
                    </tr>
                }
            </tbody>
        </table>
    </Authorized>
    <NotAuthorized>
        <h1>You are not authorised to see this. If you have are not registered, please register and log in.</h1>
    </NotAuthorized>
    
</AuthorizeView>


@code {
    protected override async Task OnInitializedAsync()
    {
        await ScoreService.GetScores();
    }
}
