@page "/score"
@page "/score/{user}"
@inject IScoreService ScoreService

<AuthorizeView Roles="Admin">
    <Authorized>
        @if (User == null)
        {
            <h1>User not found</h1>
        }
        else 
        {
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Accuracy</th>
                    <th>WPM</th>
                    <th>Error</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var score in ScoreService.Scores)
                {
                        <tr>
                            @{
                                DateTime dt = new DateTime(score.Date);
                                <td>@dt.ToString()</td>
                            }
                        <td>@score.Accuracy</td>
                        <td>@score.WPM</td>
                        <td>@score.Error</td>
                    </tr>
                }
            </tbody>
        </table>
        }
    </Authorized>
    <NotAuthorized>
        <h1>You are not authorised to see this.</h1>
    </NotAuthorized>

</AuthorizeView>


@code {
    [Parameter]
    public string? User { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        Console.WriteLine("test");
        Console.WriteLine(User);
        var base64EncodedBytes = System.Convert.FromBase64String(User);
        var decoded = System.Text.Encoding.UTF8.GetString(base64EncodedBytes);
        Console.WriteLine("decoded: " + decoded);
        if(User != null) 
        {
            await ScoreService.GetSingleUserScore(decoded);
        }
    }
}
