/*span.active::before{
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    bottom: 0;
    left: 0;
    opacity: 0;
    border-radius: 5px;
    background: cyan;
    animation: blink 1s ease-in-out infinite;
}

@keyframes blink {
    50% {
        opacity: 1;
    }
}
*/

.active {
    text-decoration:underline;
    text-decoration-color: cyan;
    text-decoration-thickness:2px;
}

.correct {
    color: white;
}

.wrong {
    color: orangered;
}

.original, .active {
    color: #999999;
}